@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?99qthb');
  src: url('fonts/icomoon.eot?99qthb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?99qthb') format('truetype'),
    url('fonts/icomoon.woff?99qthb') format('woff'),
    url('fonts/icomoon.svg?99qthb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i"], [class*=" i-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-add-circle-outline:before {
  content: "\e900";
}
.i-add-circle:before {
  content: "\e901";
}
.i-add:before {
  content: "\e902";
}
.i-arrow-back:before {
  content: "\e903";
}
.i-arrow-down:before {
  content: "\e904";
}
.i-arrow-forward:before {
  content: "\e905";
}
.i-arrow-round-back:before {
  content: "\e906";
}
.i-arrow-round-down:before {
  content: "\e907";
}
.i-arrow-round-forward:before {
  content: "\e908";
}
.i-arrow-round-up:before {
  content: "\e909";
}
.i-arrow-up:before {
  content: "\e90a";
}
.i-brush:before {
  content: "\e90b";
}
.i-call:before {
  content: "\e90c";
}
.i-check-circle-outline:before {
  content: "\e90d";
}
.i-check-circle:before {
  content: "\e90e";
}
.i-check:before {
  content: "\e90f";
}
.i-close-circle:before {
  content: "\e910";
}
.ios-close-circle:before {
  content: "\e911";
}
.i-close:before {
  content: "\e912";
}
.i-cloud-download:before {
  content: "\e913";
}
.i-cloud-upload:before {
  content: "\e914";
}
.i-eye-off:before {
  content: "\e915";
}
.i-eye:before {
  content: "\e916";
}
.i-heart:before {
  content: "\e917";
}
.i-help-circle-outline:before {
  content: "\e918";
}
.i-help-circle:before {
  content: "\e919";
}
.i-help:before {
  content: "\e91a";
}
.i-information-circle-outline:before {
  content: "\e91b";
}
.i-information-circle:before {
  content: "\e91c";
}
.i-information:before {
  content: "\e91d";
}
.i-more:before {
  content: "\e91e";
}
.i-remove-circle-outline:before {
  content: "\e920";
}
.i-remove-circle:before {
  content: "\e921";
}
.i-remove:before {
  content: "\e922";
}
.i-search:before {
  content: "\e923";
}
.i-star-half:before {
  content: "\e924";
}
.i-star-outline:before {
  content: "\e925";
}
.i-star:before {
  content: "\e926";
}
.i-thumbs-down:before {
  content: "\e927";
}
.i-thumbs-up:before {
  content: "\e928";
}
.i-trash:before {
  content: "\e929";
}
.i-github:before {
  content: "\e92a";
}
