@charset "UTF-8";

.ui-layout {
  display: flex;
  &.is-vertical {
    flex-direction: column;
  }
  &.is-horizontal {
    flex-direction: row;
  }
}

.ui-header,
.ui-footer {
  padding: 0 $padding-lr;
  line-height: 1;
  &.is-center {
    text-align: center;
  }
  &.is-left {
    text-align: left;
  }
  &.is-right {
    text-align: right;
  }
}

.ui-aside {
  padding: $padding-tb 0;
}

.ui-content {
  padding: $padding-tb $padding-lr;
}