@charset "UTF-8";

.ui-progress.is-line {
  min-height: 30px;
  .ui-progress__container {
    display: flex;
    align-items: center;
    width: 100%;
    > .ui-progress__text {
      padding-left: 8px;
    }
  }
  .ui-progress-bar {
    position: relative;
    width: inherit;
    height: 6px;
    border-radius: 4px;
    background-color: $initial-bgcolor-1;
    overflow: hidden;
    &.is-mini {
      height: 2px;
    }
    &.is-medium {
      height: 10px;
    }
  }
  .ui-progress__inner {
    width: 0;
    height: inherit;
    border-radius: inherit;
    background-color: $primary;
    text-align: right;
    transition: width .6s ease;
    .ui-progress__text {
      color: #fff;
    }
  }
  .is-horizontal {
    transform: rotate(-90deg);
  }
}

.ui-progress.is-circle {
  position: relative;
  display: inline-block;
  .ui-progress-svg {
    .circle {
      transition: stroke-dashoffset .6s ease;
    }
  }
  .ui-progress__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
