@charset "UTF-8";

.ui-radio {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  &--origin {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    z-index: -1;
  }
  &__input {
    position: relative;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }
  &__inner {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid $border;
    border-radius: 50%;
    box-sizing: border-box;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $initial-bgcolor;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .1s ease-in;
    }
  }
  &__label {
    padding-left: 6px;
  }
}

.ui-radio:not(:nth-last-of-type(1)) {
  margin-right: 30px;
}

.ui-radio.is-checked {
  .ui-radio__inner {
    background-color: $primary;
    border-color: $primary;
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .ui-radio__label {
    color: $primary;
  }
}

.ui-radio.is-disabled {
  color: $disabled-color;
  cursor: not-allowed;
  .ui-radio__inner {
    background-color: $initial-bgcolor;
    border-color: $disabled-bdcolor;
  }
  .is-checked {
    .ui-radio__inner::after {
      background-color: $disabled-color;
    }
  }
  .ui-radio__label {
    color: $disabled-color;
  }
}

.ui-radio.is-border {
  height: 40px;
  line-height: 40px;
  padding: 0 $padding-lr;
  border-radius: 4px;
  border: 1px solid $border;
}

.ui-radio.is-checked.is-border {
  border-color: $primary;
}

.ui-radio.is-disabled.is-border {
  border-color: $disabled-bdcolor;
}

.ui-radio-button {
  height: 40px;
  line-height: 40px;
  padding: 0 $padding-lr;
  border: 1px solid $border;
  &:not(:nth-last-of-type(1)) {
    margin-right: 0;
  }
  .ui-radio__label:hover {
    color: $primary;
  }

  &.is-checked {
    background-color: $primary;
    border-color: $primary;
    .ui-radio__label {
      color: $initial-bgcolor;
    }
  }

  &.is-disabled {
    .ui-radio__label:hover {
      color: $disabled-color;
    }
  }
}

.ui-radio-group {
  display: flex;
  .ui-radio-button:not(:nth-last-of-type(1)) {
    border-right: none;
  }
  .ui-radio-button {
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .ui-radio__inner {
      display: none;
    }
  }
}