@charset "UTF-8";

.ui-upload {
  .input--file {
    display: none;
  }
  .ui-upload__list {
    list-style: none;
    margin: 0;
    padding: 0;
    .li {
      height: 25px;
      line-height: 25px;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        color: $success;
        background-color: $disabled-bgcolor;
      }
    }
  }
}

.ui-upload.is-disabled {
  cursor: not-allowed;
}